* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
}

hr,
h1,
p {
    margin: 0;
}

p {
    line-height: 1.3em;
}

.container {
    padding: 0 163px;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    text-align: center;
    background: #032535;
    /* box-shadow: 0px 7px 20px rgba(33, 51, 68, 0.8); */
    /*font-size: 14px;*/
}

header .close-nav {
    display: none;
}

header .header-container a {
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header .header-container.shrink a {
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

header .header-container.shrink {
    height: 65px;
    line-height: 30px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

header.header a {
    cursor: pointer;
    text-decoration: none;
    color: #f5f1e7;
}

header.header a:hover {
    border-bottom: 2px solid #119da4;
}

header.header .nav-link a.edditional-tag {
    margin: 0 50px;
}

main .preview {
}

main .preview__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #032535;
    color: #f5f1e7;
    padding: 100px 160px;
    /*box-shadow: 0px 3px 30px #0a1826;*/
}

main .preview__main .title_header {
    font-size: 60px;
    font-weight: bold;
}

main .preview__main .title_desc {
    font-size: 41px;
}

main .preview__main .logo img {
    width: 20vw;
}

main .preview__description {
    position: relative;
    padding: 90px 160px;
    background: #F5F1E7;
}

main .preview__description .line {
    border-left: 3px solid #119DA4;
}

main .preview__description p {
    padding: 20px 86px;
}

.information {
    padding: 90px 260px 7px;
    color: #0E2A37;
    background: rgba(245, 241, 231, 0.4);;
}

.information h1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.4px;
    margin-bottom: 18px;
}

.h-desc {
    margin-bottom: 34px;
}

.tag {
    background: rgba(239, 101, 42, 0.2);
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.simple-tag {
    font-family: 'Roboto Mono', monospace;
}

.code-card {
    margin: 18px 0 24px 0;
}

.code-card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 33px;
    background: rgba(45, 167, 172, 0.4);
    font-family: 'Lato', sans-serif;
    /*font-weight: bold;*/
    font-size: 18px;
    line-height: 22px;
}

.code-card .main {
    overflow-x: scroll;
    background: rgba(231, 231, 231, 0.5);
    border: 1px solid rgba(45, 167, 172, 0.4);
    box-sizing: border-box;
}

.container.hr {
    background: rgba(245, 241, 231, 0.4);
}

hr.hr1 {
    margin-top: 50px;
    border: 2px solid #119DA4;
}

hr.hr2 {
    border: 2px solid #119DA4;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5F1E7;
    padding: 0 260px;
    height: 175px;
    background: #032535;
    box-shadow: 0 3px 30px #0A1826;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .container {
        padding: 0 10px;
    }

    header.header {
        /*display: none;*/
        height: 65px;
    }

    header .close-nav {
        display: block;
        color: #f5f1e7;
    }

    header .header-container {
        font-size: 18px;
        padding: 0 24px;
        height: 65px;
    }

    header .header-container .nav-link {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 65px;
        left: 0;
        z-index: 1004;
        background: #032535;
        width: 100%;
    }

    main .preview__main {
        padding: 100px 15px;
    }

    .preview__main .logo {
        display: none;
    }

    main .preview__description {
        padding: 90px 10px;
    }

    main .preview__description p {
        padding: 20px 10px;
    }

    .information {
        padding: 90px 15px 7px;
    }

    .information h1 {
        font-size: 32px;
    }

    .footer {
        padding: 0 15px;
    }

}
